
.largePostsRow {
    background-color: #eeeeee;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
}
.smallPostsRow {
    background-color: #eeeeee;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
}

.title {
    margin-left: 100px;
    margin-top: 40px;
}

body {
    padding-top: 50px;
    font-family: 'Biryani', sans-serif;
}


