/*background accross page & fonts*/
body {
    cursor: url('/whackamole/img/hammer.png'), default;
    background-image: url("/whackamole/img/mario-background.jpg");
    font-family: 'Audiowide', cursive;
}

/*bottom row of 3 buttons*/
.bottomRow {
    float: left;
}

/*picture of flower positioned within button*/
.flower {
    position: relative;
    bottom: 65px;
    left: -20px;
    z-index: 0;
}

/*easy/medium/hard positioning characteristics*/
.gamePlayMode{
    float: left;
    margin-left: 75px;
    margin-bottom: 100px;
}

/*gamePlayMode child button.  used for positioning of each of the 3 */
.gamePlayMode>.button {
    float:left;
}

/*properties of each individual tube/flower box*/
.individualBox {
    height: 150px;
    width: 150px;
    cursor: url('/whackamole/img/hammer.png'), default;
    background-position: center;
    background-position: bottom;
    z-index: -1;
    margin: -30px;
    outline: none;
    border: none;
}

/*middle row of 3 buttons*/
.middleRow {
    float: left;
}

/*all 3 rows.  all 9 buttons*/
.rowBox {
    position: relative;
}

/*page title at top of page*/
.title{
    margin-left: 150px;
}

/*score/timer/highscore positioning*/
.topFields {
    margin-bottom: 50px;
    margin-left: 150px;
}

/*top row of 3 buttons*/
.topRow {
    float: left;
}

/*picture of tube.  positioned within button*/
.tube {
    position: absolute;
    top: 32px;
    right: 100px;
    z-index: 1;
}

/*size characteristics and cursor for each button*/
#idOfStartEasyMode {
    height: 83px;
    width: 270px;
    cursor: url('/whackamole/img/hammer.png'), default;
}

/*size characteristics and cursor for each button*/
#idOfStartHardMode {
    height: 83px;
    width: 270px;
    cursor: url('/whackamole/img/hammer.png'), default;
}
/*size characteristics and cursor for each button*/
#idOfStartNormalMode {
    height: 83px;
    width: 270px;
    cursor: url('/whackamole/img/hammer.png'), default;
}

/*background brick image within each button*/
button.individualBox {
    background-image:url('/whackamole/img/brick.png');
}

/*unique image for each mode*/
button#idOfStartNormalMode {
    background-image:url('/whackamole/img/startNormal.png');
}

/*unique image for each mode*/
button#idOfStartEasyMode {
    background-image:url('/whackamole/img/startEasy.png');
}

/*unique image for each mode*/
button#idOfStartHardMode {
    background-image:url('/whackamole/img/startHard.png');
}







